<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
    <form action="/addProduct">
        <button type="submit" name="btn" id="btn" value="add">Add new product</button>
    </form>
    <br>
    <div>
        <table border="2">
            <tr>
                <th>Product ID</th>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
            <% for(var i=0;i<prodArr.length;i++){%>
                <tr>
                    <td><%=prodArr[i].pid%></td>
                    <td><%=prodArr[i].pname%></td>
                    <td><%=prodArr[i].quantity%></td>
                    <td><%=prodArr[i].price%></td>
                    <td>
                        <a href="/deleteProduct/<%=prodArr[i].pid%>">Delete</a> &nbsp; &nbsp; 
                        <a href="/updateForm/<%=prodArr[i].pid%>">Edit</a>
                    </td>
                </tr>
                <%}%>
        </table>
    </div>
</body>
</html>